* {
  margin: 0;
  border: 0;
  font-family: Lato, sans-serif;

}

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");


@tailwind base;
@tailwind components;
@tailwind utilities;

.content {
  margin-left: 7%;
  margin-right: 7%;

}
.mask1{
  height: 50px;
  width: 300px;
  background-color: white;
  
}
.container_1{
  position: relative;
  margin-top: 30px;
}
.help{
  position: absolute;
  bottom: 0;

}